link(rel="stylesheet" href="../scss/190612.scss")
link(rel="stylesheet" href="../scss/190610.scss")
.search-word-wrapper
  label ユーザーID
    input#search-id-input(type="text")
p#search-result 該当者なし
script(src="../js/190624.js")
