link(rel="stylesheet" href="../scss/190612.scss")
link(rel="stylesheet" href="../scss/190610.scss")
input#phoneNumberText(placeholder="電話番号",type="tel")
p.caption
  small ※実際にデータは送信されません
  button#submitButton(type="submit") 送信する
script(src="../js/190613.js")



