button-wrapper
  button.button(tabindex="-1" data-age="20") 20歳以上
  button.button(data-age="30") 30歳以上
  button.button(tabindex="1" data-age="40") 40歳以上
  div(tabindex="2")
ul.user_list


script(src="../js/190627.js")
