link(rel="stylesheet", href="../scss/190610.scss")

main.main
  h1 「Javascriptを覚えよう」中の文字存在チェック
  table
    tr
      th includes('Javascript')
      td.result1
    tr
      th includes('覚えよう')
      td.result2
    tr
      th includes('覚えよう', 12)
      td.result3
    tr
      th includes('HTML')
      td.result4
    tr
      th startWith('覚えよう')
      td.result5
    tr
      th endEidth('覚えよう')
      td.result6
  script(src="../js/190611.js")
