link(rel="stylesheet" href="../scss/190612.scss")
link(rel="stylesheet" href="../scss/190610.scss")
.timer
  .secondMsg
span.hour
| :
span.minute
| :
span.second
script(src="../js/190619.bundle.js")
//- script(src="../js/190619_2.js")
