link(rel="stylesheet" href="../scss/190612.scss")
link(rel="stylesheet" href="../scss/190610.scss")
input.name-input(type="text")
p.warning-message

main#main
h2 電話番号を入力してください
input#phoneNumberText(placeholder="電話番号",type="tel")
p#warningMessage
script(src="../js/190617.js")
