#myBox ボックス

p
  input#mouseWheelToggle(type="checkbox")
| マウスホイール無効化

ul.scrollable-element
  li りんご
  li みかん
  li バナナ
  li いちご
  li パイナップル
  li キウイ
  li ぶどう
  li スイカ
style.
  .scrollable-element {
    overflow-y: scroll;
    height:50px;
  }

script(src="../js/190724.js")
