.character hoge
script(src="../js/190718.js")
style.
  .character {
  position: absolute;
  top: 0;
  left: 0;
  }
  .character {

  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  }
