link(rel="stylesheet", href="../scss/190729_test.scss")
.wrapper
  #app
    h1.centered Scroll me
    .box(v-scroll="handleScroll")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque amet harum aut ab veritatis earum porro praesentium ut corporis. Quasi provident dolorem officia iure fugiat, eius mollitia sequi quisquam.
  #app2
    .box.two(v-scroll="handleScroll")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque amet harum aut ab veritatis earum porro praesentium ut corporis. Quasi provident dolorem officia iure fugiat, eius mollitia sequi quisquam.

script(src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js")
script(src="../js/190729_test.js")
