link(rel="stylesheet", href="../scss/20190806.scss")
h1 今日の天気
p#weather-information
  |雨
  span#temperature (16℃)
p#weather 明日は雪が降るでしょう
a#anchor(href="/") リンク
img#image(src="https://placehold.jp/150x150.png")
script(src="../js/20190806.js")

