link(rel="stylesheet", href="../scss/20190807.scss")
ul
  li
    a(href="dummy",target="_blank") リンク１
  li
    a(href="dummy",target="_blank") リンク２
  li
    a(href="dummy",target="_blank") リンク３
  li
    a(href="dummy",target="_blank") リンク４

p
  a(href="dummy") リンク５
section
  button.button HTML
  .content
    p HTML........
#box1.red
#box2.blue
p#information tokyo
script(src="../js/20190807.js")
