.container {
  padding: 0.5rem 2%;
}

.tab {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.tab-item + .tab-item {
  margin-left: 1rem;
}

.tab-content {
  padding: 0.5rem 1rem;
  background: #f1fafa;
}

.tab-content h2 {
  line-height: 1.125rem;
}
